<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"/>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<header th:replace="partials::header"/>
<div class="container-fluid">
	<h1>Fast Food DB</h1>
</div>
<br>
<br>
<div class="container-fluid">
	<form th:action="@{/posts/create}" th:method="post" th:object="${post}">
		Title:
		<input th:field="*{title}"/>
		<br>
		Description:
		<input th:field="*{body}">
		<br>
		<button class="btn btn-lg btn-primary" type="submit">Submit</button>
	</form>
</div>

<footer th:replace="partials::footer"/>
</body>
</html>
