<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"/>
<head>
	<meta charset="UTF-8">
	<title>Edit Posts</title>
</head>
<body>
<header th:replace="partials::header"/>
<div class="container-fluid">
	<h1>Fast Food DB</h1>
</div>
<br>
<br>
<div class="container-fluid">
	<form th:action="@{'/posts/' + ${id} + '/edit'}" th:method="post" th:object="${createdPost}">
		<div th:replace="partials :: createForm"></div>
		<input th:field="*{id}" hidden>
		<input th:field="*{owner}" hidden>
	</form>
</div>

<footer th:replace="partials::footer"/>
</body>
</html>
