<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"/>
<head>
	<meta charset="UTF-8">
	<title th:text="${createdPost.title}"></title>
</head>
<body>
<header th:replace="partials :: header"/>
<div class="container-fluid">
	<div class="row">
		<div class="col-xl d-flex justify-content-center">
			<div class="card m-5" style="width: 50rem">
				<div class="card-header">
					<h3 th:text="${createdPost.title}"/>
				</div>
				<div class="card-body">
					<p class="m-3" th:text="${createdPost.body}"/>
					<p class="m-3" th:text="${createdPost.owner.email}"/>
				</div>
				<div class="d-flex justify-content-around">
					<a th:href="@{'/posts/' + ${createdPost.id} + '/edit'}" class="btn btn-success">Edit</a>
					<a th:href="@{'/posts/' + ${createdPost.id} + '/delete'}" onclick="return confirm('Are you sure you want to delete this item?')" class="btn btn-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>
</div>
<footer th:replace="partials::footer"/>
</body>
</html>
