<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head" />
<head>
	<meta charset="UTF-8">
	<title>Roll Dice</title>
</head>
<body>
<nav th:replace="partials :: header" />
<div>
	<h1>Guess a number</h1>
	<a href="/roll-dice/1">
		<button type="button">1</button>
	</a>
	<a href="/roll-dice/2">
		<button type="button">2</button>
	</a>
	<a href="/roll-dice/3">
		<button type="button">3</button>
	</a>
	<a href="/roll-dice/4">
		<button type="button">4</button>
	</a>
	<a href="/roll-dice/5">
		<button type="button">5</button>
	</a>
	<a href="/roll-dice/6">
		<button type="button">6</button>
	</a>
</div>
<div th:if="${guessedNumber != null}">
	<h1>Your guess is <span th:text="${guessedNumber}"/></h1>
	<h1>The correct number is <span th:text="${correctNum}"/></h1>
	<h1 th:if="${guessedNumber} == ${correctNum}">You Win</h1>
	<h1 th:if="${guessedNumber}!= ${correctNum}">You Lose</h1>

</div>
<footer th:replace="partials :: footer"/>
</body>
</html>
